<app-card title='ADD ITEM' iconName="checklist" iconBackgroundColor="#3f51b5">
    <div class="add-item-main-div">
    <form class="add-item-form">    
        <mat-form-field class="add-item-form-field">
        <mat-label>What do you want to do?</mat-label>
        <textarea matInput placeholder="Pay rent" cdkTextareaAutosize></textarea>
        </mat-form-field>
    </form>
    <div class="add-item-button">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">+</button>
    </div>
</div>
</app-card> 