hr{
    border: none;
    background-color:rgb(230, 230, 230);
    height: 2px;
}

.mat-card {
    max-width: 600px;
    margin: auto;
    margin-top: 60px;
}

.mat-card-header{
    align-items: center;
    margin-bottom: 2rem;
}

.mat-card-icon-div{
    padding: 0.71rem;
    position: absolute;
    left: 1.2rem;
    top: -2rem;
    border: #000000 1px solid;
    border-radius: 10%;
}

.mat-card-title-div{
    opacity: 75%;
}

.mat-card-title-div{
    margin-left: 4rem;
}